@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    color: white;
    margin: 5px 10px 0;
}
button{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 7px 20px;
}
.title{
    margin: 0 20%; 
    width: 650px;
    height: 120px;
}
p,td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    opacity: 0.7;
}
.para{
    margin-top: 10px;
    margin-bottom: 10px;
}
header{
    margin: 5px 10px 0;
    background-color: rgb(17, 17, 17);
    padding: 1% 8% 0;
}
.navigation{
    display: flex;
    gap: 30px;
    align-items: center;
   justify-content: space-between;
}
.fit{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    font-style: italic;
}
nav li{
    list-style: none;
}
a{
    text-decoration: none;
}
.three-dot{
    width: 30px;
    display: none;
}
#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 25px;
}
#banner img{
    height: 600px;
    margin-left: 45%;
}
#banner-img{
    position: relative;
}
.banner-card{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
}
.card-1{
    width: 166px;
    position: absolute;
    top: 20%;
    right: -12%;
}
.card-2{
    display: flex;
    text-align: left;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 25%;
}
.circle{
    border-radius: 50%;
    background: rgb(230, 83, 60);
    height: 30px;
    width: 30px;
}
.btn{
    background-color: black;
    border: 1.5px solid white;
    margin-left: 15px;
}
main{
    background: black;
    margin-top: -0.1%;
    padding: 7%;
    text-align: center;
    align-items: center;
}
#cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card img{
    border-radius: 50%;
}
.card h5{
    margin-top: 8%;
}
.card p{
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 25%;
}
#Run{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    text-align: left;
    background: rgb(43, 42, 42);
    border-radius: 14px;
    align-items: center;
    padding-left: 5%;
    margin-bottom: 8%;
}
#run-img{
    border-radius: 14px;
    width: 95%;
    margin: 5% 0;
}
#training-img{
    display: flex;
    flex-direction: column;
}
#training-img img{
    width: 100%;
    height: 100%;
}
.ex-container{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.img-1{
    background: rgba(6, 255, 210, 0.5);
}
.img-2{
    background: rgba(255, 0, 0, 0.3);
}
.img-3{
    background: rgba(0, 0, 0, 0.5);
}
.img-4{
    background: rgba(0, 0, 0, 0.5);
}
.img-5{
    background: rgba(66, 255, 0, 0.3);
}
.img-6{
    background: rgba(0, 71, 255, 0.3);
}
.bottom-left{
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.top-left{
    position: absolute;
    top: 16px;
    left: 16px;
}
.top-right{
    position: absolute;
    top: 16px;
    right: 16px;
}
#row-1{
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr;
}
#row-2{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.2fr;
}
#bmi{
    margin-top: 8%;
}
svg{
    height: 30px;
    width: 30px;
}
#BMI{
    background: rgb(34, 34, 34);
    margin: 0 -9%;
    margin-bottom: 5%;
    padding: 4% 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
table{
    margin-top: 15px;
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    width: 150px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: -2%;
}
.row{
    display: flex;
}
.txt{
    color: black;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
input, select{
    color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 8px 10px;
    width: 100%;
}
#bmi button{
    margin-top: 10px;
    padding: 8px 30px;
    background-color: rgb(40, 38, 38);
    border: 2px solid rgba(184, 184, 184, 0.6);
    color: #c3c0c0;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3%;
    background: rgb(34, 34, 34);
    padding: 1.5% 1% 3%;
    border-radius: 8px;
}
.team-pic img{
    width: 95%;
    height: 250px;
    border-radius: 8px;
}
.team-container{
    position: relative;
}
.meet-intro{
    text-align: start;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
button:hover{
    background: green;
}#learn{
    background: rgb(43, 42, 42);
    padding: 30px 40px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.contents{
    margin-top: -60px;
}
.contents,.learn-content{
    display: flex;
    text-align: left;
}
.learn-content img{
    height: 25px;
    width: 25px;
}
#lrn-bt{
    margin-top: 40px;
}
button:hover{
    background-color: green;
}
footer{
    margin-top: -0.1%;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5% 8% 1%;
}
#content, .extra-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#fit-para{
    font-size: 12px;
}
#foot{
    text-align: center;
}
#copyright{
    font-size: x-small;
}
@media screen and (max-width:576px) {
    *{
        margin: 0;
    }
    .nav-item{
        display: none;
    }
    p,td{
        letter-spacing: 1px;
    }
    .three-dot{
        display: flex;
    }
    header{
        margin: 0;
        padding-top: 20px;
    }
   #cards{
    grid-template-columns: 1fr;
   }
   .card p{
    width: 55%;
    margin: 10px 20%;
   }
   .card img{
    margin-top: 15px;
    margin-bottom: -5px;
   }
   #banner{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 20px;
    }
    #banner img{
        height: 400px;
        margin-left: 10px;
    }
    .card-1{
        padding-left: 15px;
        top: 25%;
        right: -18%;
    }
    .card-2{
        gap: 10px;
        left: -20%;
    }
   .team-pic{
    grid-template-columns: 1fr;
    row-gap: 1.5%;
    height: 1320px;
    padding-left: 15px;
    padding-top: 15px;
    }
   .team-pic img{
    height: 200px;
   }
   .title{
    width: 90%;
    margin: 5%;
   }
   #Run{
    grid-template-columns: 1fr;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
   }
   #row-1{
    grid-template-columns: 1fr 1.2fr;
    }
    #row-2{
        grid-template-columns: 1.2fr 1fr;
    }
    .remove{
        display: none;
    }
    #BMI{
        grid-template-columns: 1fr;
        margin: 0 -8%;
    }
    #calculate-bmi{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .row{
        gap: 10px;
    }
    input{
        padding: 8px 7px;
    }
   #content, .extra-info{
        grid-template-columns: 1fr;
        row-gap: 15px;
   }
   .learn-content{
        gap: 10px;
    }
    .contents{
        flex-direction: column;
        gap: 10px;
        margin-top: -90px;
    }   
}


@media screen and (max-width: 992px) and (min-width: 577px) {
    *{
        margin: 0;
    }
    p,td{
        letter-spacing: 1px;
    }
    header{
        margin: 0;
        padding-top: 20px;
    }
    .navigation{
        gap: 20px;
    }
    #banner{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 20%;
        padding-top: 20px;
    }
    #banner img{
        height: 400px;
        margin-left: 10px;
    }
    .card-1{
        padding-left: 15px;
        top: 20%;
        right: -25%;
    }
    .card-2{
        gap: 10px;
        left: -20%;
    }
    .title{
        width: 80%;
        margin: 10%;
    }
    #cards{
        grid-template-columns: 1fr 1fr;
    }
    .card p{
        width: 55%;
        margin: 10px 20%;
    }
   .card img{
        margin-top: 15px;
        margin-bottom: -5px;
    }
    #Run{
        padding-top: 10px;
        padding-bottom: 15px;
    }
    #BMI{
        grid-template-columns: 1fr;
        margin-left: -8%;
        margin-right: -8%;
    }
    #calculate-bmi{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .row{
        gap: 10px;
    }
    #fit-para{
        margin-top: 15px;
        width: 60%;
    }
    #content{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .learn-content{
        gap: 10px;
    }
    .contents{
        flex-direction: column;
        gap: 10px;
        margin-top: -120px;
    }
}